<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043035196161-7riq54rjf7vsjs28igqbnuik96j2go84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043035196161-7riq54rjf7vsjs28igqbnuik96j2go84</string>
	<key>API_KEY</key>
	<string>AIzaSyBpMnL5DU4dyqX70JF6KkkW4tlaiHDNO40</string>
	<key>GCM_SENDER_ID</key>
	<string>1043035196161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.clone.tinderclone</string>
	<key>PROJECT_ID</key>
	<string>tindercloneexpo</string>
	<key>STORAGE_BUCKET</key>
	<string>tindercloneexpo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043035196161:ios:2769fb6f398d0a0bb82900</string>
</dict>
</plist>